@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "circularstd";
  src: url("../public/fonts/circularstd.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "nhreg";
  src: url("../public/fonts/nhreg.ttf");
  font-weight: 200;
  font-style: normal;
}

* {
  font-family: "nhreg";
  background: #0E372D;
}

